/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */
.tm-compose-preview .source-underline { position: fixed; z-index: 0; height: 0; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: var(--in-content-accent-color); pointer-events: none; }
